body{
    margin: 0;
}
.topbar{
    background-color: blueviolet;
    overflow: hidden;
}
.topbar a{
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topbar a:hover{
    background-color: aliceblue;
    color: black;
}
.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: blueviolet;
}
.bottom p, a {
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-left: 10px;
}
.text-desc{
    text-align: center;
    position: absolute;
}