@font-face {
    font-family: Audiowide;
    src: url(https://fonts.googleapis.com/css?family=Audiowide);
}
.topbar{
    background-color: blueviolet;
    overflow: hidden;
}
.topbar a{
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topbar a:hover{
    background-color: aliceblue;
    color: black;
}
td, input[type=button], .del {
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-style: outset;
    border-radius: 5px;
    background-color: antiquewhite;
    font-family: Audiowide;
}
td:active, .del:active{
    transform: translateY(1px);
}
input[type=button]{
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    font-size: xx-large;
}
.del{
    background-color: red;
    color: white;
}
.screen{
    border-style: inset;
    width: auto;
    height: 40px;
    background-color: greenyellow;
    font-size: large;
}
.calcBody{
    padding: 1%;
    border-spacing: 5px;
    border-style: outset;
    border-radius: 5px;
    background-color: gray;
}
.flex-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 171px;
}
.text-desc {
    text-align: center;
    color: black;
    margin: auto;
    font-size: large;
}
.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: blueviolet;
}
.bottom p, a {
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-left: 10px;
}